<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super Based Cube</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <ul>

      <% if (user) { %>
        <% if (user.admin) { %>
          <li><a href=""> Admin test ;)</a></li>
          <% } %>
      <li>Welcome, <%= user.username  %></li>
      <li><a href="/logout">Log out</a></li>
      <%  } else {%>
      <li><a href="/login">Log in</a></li>
      <li><a href="/signup" class="btn">Sign up</a></li>
      <% } %>
    </ul>
  </nav>
  <div class="logo">
    <a href="/"><img src="/superbased.png" style="width: 500px;"alt=""></a>
    <a href="/"><img id="devolved"src="/devolved.png" alt=""></a>
  </div>



  <!-- <nav>
    <h1><a href="/">Super Based Cube</a></h1>
  </nav> -->
  