<%- include('partials/header'); -%>
    <h1>Player Cube</h1>
    <h4>Press arrow keys to move</h4>
    <h4>You have 3 hearts</h4>
    <h4>You get Supercharge every 60 sec</h4>
    <h4>Supercharge lasts 5 seconds</h4>
    <h4>While in Supercharge mode you can kill Enemy cube to get extra heart</h4>
    <h4>Be aware when Supercharge mode is activated, Enemy Cube will run away </h4>
<br>
    <h1>Enemy Cube</h1>
    <h4>Dont touch the cube</h4>
    <h4>Cube speeds up every 10 second</h4>
    <h4>1 score = 1 second</h4>
    <h4>Every 60 sec cube gets bigger</h4>

<%- include('partials/footer'); -%>